/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not(:disabled), summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
body {
	font-family: "dazzle-unicase", sans-serif;
	font-weight: 300;
	font-style: normal;

/* center the logo */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;

	
  	color:var(--color-text);
  	background-color:var(--color-background);
}

/* jouw code */

h1 {
	/* Position h1 so content is in content block */
	position: relative;
	text-align: center;
	
  }
  
  h1::after,
  h1::before {
	content: '';
	position: absolute;
	background: var(--color-text);
	width: 100%;
	height: 3px;
  }

  h1::after {
	/* center middle line */
	top: 50%;
	left: 0;
	/* z-index: -1; */
	animation-name: moveLine;
	animation-duration: 1s;
  }

  h1::before {
	/* Position top line */
	top: 24%;
	left: 0%;
	/* z-index: -1; */
	animation-name: moveLine;
	animation-duration: 1s;
  }


@keyframes moveLine {
	0% {transform: translateX(-30em);}
	100% {transform: translateX(0em);}
}
  