/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'didot-regular';
	src:
		url('../fonts/didot-regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'didot-bold';
	src:
		url('../fonts/didot-regular.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button:not(:disabled),
summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* colors */
	--clr-text: #111;
	--clr-table: #006400;
	--clr-wood: #563105;
	--clr-secondary: #003366;
	--clr-btn: #800080;
	--clr-money: #FFD700;

	--chip-1: #FF0000;
	--chip-2: #0000FF;
	--chip-3: #009600;
	--chip-4: #ff6600;
	--chip-5: #000000;
	--chip-break: #fff;

	/* Fonts */
	--header-font: "didot-bold", sans-serif, Arial, Helvetica;
	--main-font: "didot-regular", sans-serif, Arial, Helvetica;

	/* Chip sizes */
	--height: 3.5em;
	--border-width: 0.4em;

}





/****************/
/* JOUW STYLING */
/****************/
body {
	font-family: var(--main-font);
	color: var(--clr-text);
	height: 100dvh;
	margin: 0;
	padding: 0;

	/* used to make it look more like a blackjack table */
	background:
		radial-gradient(circle at 50% 50%, rgba(0, 100, 0, 1), rgba(10, 94, 17, 1)),
		url(/opdracht2/images/noise.svg);

}



/* jouw code */

/* header */

header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 1em 0;
	height: 20%;
}

header h1 {
	display: flex;
	align-self: flex-start;
	color: var(--clr-money)
}

header div {
	position: absolute;
	margin: 0;
	width: 4rem;
	height: 5rem;
	right: 1.5rem;
	top: 1rem;
	background-color: var(--clr-wood);
	transform: rotate(-45.07deg);
}





/* Main */

main {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
}

main h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}









/* Footer */
footer {
	height: 20%;
	background-color: var(--clr-wood);
	width: 100dvw;
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 20 0 20;

}

footer ul:first-of-type {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	margin: 1em;
	padding: 0;
	gap: 0.5em;
	font: var(--header-font);

}

footer ul:first-of-type li {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: var(--height);
	height: var(--height);
	border-radius: var(--height);
	border: var(--border-width) dashed var(--chip-break);
}
footer ul:first-of-type li a {
	text-decoration: none;
	color: var(--chip-break);
}

footer ul:first-of-type li:nth-of-type(1) {
	background-color: var(--chip-1);
}
footer ul:first-of-type li:nth-of-type(2) {
	background-color: var(--chip-2);
}
footer ul:first-of-type li:nth-of-type(3) {
	background-color: var(--chip-3);
}
footer ul:first-of-type li:nth-of-type(4) {
	background-color: var(--chip-4);
}
footer ul:first-of-type li:nth-of-type(5) {
	background-color: var(--chip-5);
}

footer ul:nth-of-type(2) {
	display: none;
}