/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'didot-regular';
	src:
		url('../fonts/didot-regular.woff2') format('woff2');

}

@font-face {
	font-family: 'didot-bold';
	src:
		url('../fonts/didot-regular.woff2') format('woff2');
	font-weight: bold;

}





/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button:not(:disabled),
summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* colors */
	--clr-text: #111;
	--clr-playerTable: #006400;
	--clr-wood: #563105;
	--clr-secondary: #003366;
	--clr-btn: #800080;
	--clr-money: #FFD700;

	--chip-1: #FF0000;
	--chip-2: #0000FF;
	--chip-3: #009600;
	--chip-4: #ff6600;
	--chip-5: #000000;
	--chip-break: #fff;
	--chip-middle: #ffffffc4;

	/* Fonts */
	--header-font: "didot-bold", sans-serif, Arial, Helvetica;
	--main-font: "didot-regular", sans-serif, Arial, Helvetica;

	/* Chip sizes */
	--height: 3.5rem;
	--border-width: 0.4rem;
	--height-middle-chips: 4rem;

}





/****************/
/* JOUW STYLING */
/****************/
body {
	font-family: var(--main-font);
	color: var(--clr-text);
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

	/* used to make it look more like a blackjack playerTable */
	background:
		radial-gradient(circle at 50% 50%, rgba(0, 100, 0, 1), rgba(10, 94, 17, 1)),
		url(/opdracht2/images/noise.svg);
}

li {
	list-style: none;
}

/* jouw code */

/* header */

header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 1em 0;
}

header h1 {
	display: flex;
	align-self: flex-start;
	color: var(--clr-money)
}

header div {
	display: grid;
	position: relative;
	margin: 0;
	width: 4rem;
	height: 5rem;
	right: 1.5rem;
	top: 1rem;
	background-color: var(--clr-wood);
	transform: rotate(-45.07deg);
}

header > div > img {
	position: absolute;
	top: 0.5rem;
	right: -0.5rem;
	width: 3rem;
	height: 4rem;
}





/* Main */

main {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
}

main > h1 {
	height: fit-content;
	font-family: var(--header-font);
	display: flex;
	color: var(--chip-break);
	align-items: center;
}



/* Cards */

section:first-of-type {
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	grid-template-rows: 0.2fr 0.2fr 0.2fr;
	position: relative;
}

.dealerCards,
.playerCards {
	display: grid;
	margin: 0;
	padding: 0;
	grid-template-columns: 1fr 1fr;
}

section:first-of-type ul li {
	position: relative;
	display: grid;
	width: 3em;
}

section:first-of-type ul li img {
	width: 5em;
	height: 6em;
}

section:first-of-type ul li:last-of-type img {
	transform: rotate(10deg);
}



/* Table */
section:last-of-type {
	height: 20%;
	background-color: var(--clr-wood);
	width: 100dvw;
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 20% 20% 0 0;
}
/* chip rack */
section:last-of-type ul:first-of-type {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	margin: 1em;
	padding: 0;
	gap: 0.5em;
	font: var(--header-font);

}

/* Chips on the table */
.chipStack {
	display: grid;
	position: relative;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 2.8rem;
	height: 2.8rem;
	background-color: var(--chip-middle);
	border-radius: var(--height);
	z-index: 2;
}

.chipStack li,
.chipStack li button {
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 2.8rem;
	height: 2.8rem;
	background-color: var(--chip-middle);
	border-radius: var(--height);
	z-index: 2;
}

.chipStack::after {
	content: "";
	position: absolute;
	top: -0.6rem;
	left: -0.6rem;;
	margin: 0;
	padding: 0;
	width: var(--height-middle-chips);
	height: var(--height-middle-chips);
	border: var(--border-width) dashed var(--chip-middle);
	border-radius: 4.2rem;
}

/* circle around chip */
.chipStack::before {
	content: "";
	position: absolute;
	top: -1.6rem;
	left: -1.6rem;
	margin: 0;
	padding: 0;
	width: 6rem;
	height: 6rem;
	border: 0.3rem solid var(--chip-middle);
	border-radius: 4.2rem;
	animation: chipBgGradient;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


@keyframes chipBgGradient {
	0% {
		visibility: visible;
		background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
    }

	100% {
		visibility: visible;
		background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
}


/* chips */
section:last-of-type ul:first-of-type li,
.chipStack li{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: var(--height);
	height: var(--height);
	border-radius: var(--height);
	border: var(--border-width) dashed var(--chip-break);
}

section:last-of-type ul:first-of-type li button,
.chipStack li button {
	text-decoration:  none;
	background-color: transparent;
	border: transparent;
	color: var(--chip-break);
	z-index: 2;
}


/* set the color for the chips */
section:last-of-type ul:first-of-type li:nth-of-type(1),
#chip1 {
	background-color: var(--chip-1);
}
section:last-of-type ul:first-of-type li:nth-of-type(2),
#chip2 {
	background-color: var(--chip-2);
}
section:last-of-type ul:first-of-type li:nth-of-type(3),
#chip3 {
	background-color: var(--chip-3);
}
section:last-of-type ul:first-of-type li:nth-of-type(4),
#chip4 {
	background-color: var(--chip-4);
}
section:last-of-type ul:first-of-type li:nth-of-type(5),
#chip5 {
	background-color: var(--chip-5);
}



/* Buttons */

section > button,
section:last-of-type ul:last-of-type li button {
	font-family: var(--header-font);
	text-align: center;
	color: var(--chip-break);
	background-color: var(--clr-btn);
	border: none;
	border-radius: 10%;
	padding: 0.7em 3em 0.7em 3em;
}


section:last-of-type ul:nth-of-type(2) {
	display: none;
	margin: 0;
	padding: 0;
	gap: 1rem;
	justify-content: space-evenly;
}

